// Specific CSS for your home-page
#home-title-header {
  color:#545356;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.2);
  font-family: 'Odibee Sans', cursive;

}

// banner home page
.banner {
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  height: 600px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 64px;
  font-family: $home-title;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner .container {
  margin-left: 100px;
}

.banner .btn {
  background-color: $turquoise
}

.banner a {
  font-size: 24px;
  margin-left: 10px;
}

.banner .space-between {
  height: 40px;
  background-color: transparent;
}

.banner .btn:hover {
  background-color: $strong-blue
}
