// Specific CSS for your home-page
#home-title-header {
  color:#545356;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.2);
  font-family: 'Odibee Sans', cursive;

}

// banner home page
.banner {
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  height: 600px;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 64px;
  font-family: $home-title;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner .container {
  margin-left: 100px;
  margin-bottom: 104px;
}

.banner .btn {
  background-color: $turquoise;
  font-family: $other-titles;
}

.banner a {
  font-size: 24px;
  margin-left: 10px;
}

.banner .space-between {
  height: 40px;
  background-color: transparent;
}

.banner .btn:hover {
  background-color: $strong-blue
}

.turquoise-box {
  position: relative;
  height: auto;
  weight: 100%;
  background-color: $turquoise;
  z-index: 2;
}

.turquoise-box:after {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 200px;
  content: "";
  background: inherit;
  top: 0;
  transform-origin: left top;
  transform: skewY(-4deg);
}

.banner-info {
  width: 50%;
}

.banner-transparent {
  width: 50%
}
.washed-black-box {
  position: relative;
  width: 100%;
  height: auto;
  background-color: $washed-black;
}

.washed-black-box:after {
  position: absolute;
  content: '';
  width: 150px;
  height: 150px;
  background: $turquoise;
  right: 50%;
  transform: skewY(20deg);
  margin-top: -615px;
}

.washed-black-box:before {
  position: absolute;
  content: '';
  width: 150px;
  height: 150px;
  background: $turquoise;
  left: 50%;
  transform: skewY(-20deg);
  margin-top: -124px;
}

.p-turquoise-box {
  padding-left: 60px;
}

.p-black-box {
  padding-right: 60px;
}

.grid {
  align-items: center;
  justify-content: space-around;
  text-align: center;
  align-self: center;
}

h2 {
  color: white;
}

p {
  color: white;
}

.strava_phone {
  margin-top: -184px;
  height: 700px;
  width: 328px;

}

.get-started {
  background-color: $turquoise;
  margin-bottom: 30px;
}
.athlete {
width: 500px;
height: 491px;
}

.h2-box {
  font-size: 3rem;
}

@media (min-width: 720px) {
  .grids {
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
  }

    .banner .container {
    margin: auto;
  }
  .banner-info {
  width: 75%;
  }

  .banner-transparent {
  width: 0%
  }
}



@media (max-width: 540px) {
  .banner h1 {
    font-size: 35px;
  }
  .banner a {
    font-size: 16px;
  }
  .strava_phone {
    margin-top: 0px;
    height: 500px;
    width: 234px;
  }
  .athlete {
    width: 300px;
    height: 293px;
    margin-top: 60px;
  }
  .banner .container {
    margin: auto;
  }
  .banner-info {
  width: 75%;
  }

  .banner-transparent {
  width: 0%
  }

  .turquoise-box:after {
    margin-top: -44px;
  }
  .washed-black-box:after {
    margin-top: -739px;
  }

  .p-turquoise-box {

  padding: 0px 25px;
  }

  .p-black-box {
  padding: 0px 25px;
  }

  .h2-box {
  font-size: 2rem;
  }
}







