.container-track-show {
  margin-top: 30px;
}




.ranking-item {
  align-items: center;
}

.track-race-details {
  margin-top:80px;
}



.track-details {
  border: solid;
  border-color: #f6f6f6;
  background-color: #f6f6f6;
  border-radius: 20px;
  padding: 30px 0px;
  margin-left: 30px;
  margin-right: 30px;
}

.track-details .btn {
  background-color: $washed-blue;
  border-color: $washed-blue;
  font-size: 24px;
}

.track-descrption h1 {
  color: $turquoise;
}

.track-descrption h3 {
  font-size: 16px;
}

.track-descrption p {
  font-size: 12px;
}

#sweet-alert-join {
  background-color: $turquoise;
  border: none;
}

.background-container {
  background-color: $turquoise;
  height: auto;
  margin-top: 35px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 20px;
}

.container-race-info {
  background-color: white;
  padding: 20px 80px;
  border-radius: 20px;
  padding-bottom: 60px;
}

.nav-tabs {
  padding-bottom: 7px;
}

.tab-pane {
  border-left: 1px solid #DEE2E6;
  border-right: 1px solid #DEE2E6;
  border-bottom: 1px solid #DEE2E6;
  height: auto;
  padding: 40px 30px;
}

.grid-profile {
  align-items: center;
  justify-content: space-around;
  text-align: center;
  align-self: center;
}

.grids-profile .avatar {
  width: 65px;
  height: 65px;

}
  .tab-pane h2 {
    color: black;
    margin-top: 20px;

  }

  .tab-pane ol {
    color: black;
  }

  .nav-link {
    color: $turquoise;
    font-weight: bold;
    font-size: 22px;
  }

  #home-tab {
    color: $washed-blue;
  }
  #home-tab .active {
    color: $turquoise;
  }
  #profile-tab {
    color: $washed-blue;
  }

@media (min-width: 720px) {
  .grids-profiles {
      display: flex;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 16px;
      grid-row-gap: 65px;
      text-align: center;
  }
  .grids-track {
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

  @media (max-width: 540px) {
    .grids-profiles {
      display: flex;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 16px;
      text-align: center;
  }
  .grids-track {
    display: flex;
    display: grid;
    grid-template-columns: 1fr;
  }
}


