
.profile-page{
  padding: 5%;
  background-color: $gainsboro;
  img {
  border-radius: 5%;
  }
}

.profile-info h1,
.profile-info a,
.profile-info p,
.profile-info h2 {
  color: black;
  font-size: 12px;
}


.personal-info h1,
.personal-info a,
.personal-info p,
.personal-info h2{
 color: black;
 font-size: 12px;
}




.profile-info{

  position: relative;
  margin: 5%;
  text-align: center;

}

.profile-small-info{
text-align: center;
}

.profile-avatar{
  position: relative;
  margin-bottom: 15vw;



  img{
    height: 25vh;
    position: absolute;
    top: -16.0vw;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border-radius:50%;
    max-width:150px;
    max-height:100px;
    width: auto;
    height: auto;
  }

}


.profile-botton-part{
  text-align: center;
}




@media (min-width: 720px) {
  .profile-page{
   font-size: 18px;

  }

  .profile-avatar img {
      top: -23vw;

  }
}
