.profile-page{

  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


.profile-info{
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  margin: 5%;


}

.profile-small-info{
text-align: center;
}

.profile-avatar{
  position: relative;
  margin-bottom: 15vw;



  img{
    width: 25vw;
    height: 25vh;
    position: absolute;
    top: -12.5vw;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    border-radius:50%;
  }

}


.profile-botton-part{
  display: flex;
  justify-content: space-around;
}



.profile-races-cards{

  display: inline-block;
}


.hovercard h1,h2,p,a {
    font-size: 12px;
    color: black;
}


