.container-track-show {
  margin-top: 30px;
}

.container-track-show {
  border: solid;
  border-color: #E8E8E8;
  padding: 15px;
  margin-left: 30px;
  margin-right: 30px;
}

.track-descrption h1 {
  color: $turquoise;
}

.track-descrption h3 {
  font-size: 16px;
}

.track-descrption p {
  font-size: 12px;
}

#sweet-alert-join {
  background-color: $turquoise;
  border: none;
}

.background-container {
  background-color: $turquoise;
  height: auto;
  margin-top: 35px;
}

.container-race-info {
  background-color: white;
  padding-left: 25px;
  padding-right: 25px;
}

.nav-tabs {
  padding-bottom: 7px;
}

.tab-pane {
  border-left: 1px solid #DEE2E6;
  border-right: 1px solid #DEE2E6;
  border-bottom: 1px solid #DEE2E6;
  height: auto;
}

