<div class="menu fixed-bottom">
  <div class="menu-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fas fa-running"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
  </div>
</div>


