<div class="menu fixed-bottom">

  <div class="menu-links">

    <%= link_to root_path, class: 'btn btn-light menu-icon' do %>
      <i class="fas fa-home"></i>
    <% end %>

    <% if current_user %>
      <%= link_to user_path(current_user), class: 'btn btn-light menu-icon' do %>
        <i class="fas fa-running"></i>
      <% end %>
    <% end %>


    <%= link_to new_track_path, class: 'btn btn-light menu-icon' do %>
      <i class="fa fa-plus" aria-hidden="true"></i>
    <% end %>

  </div>
</div>




    <!-- <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
 -->

