

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://mir-s3-cdn-cf.behance.net/project_modules/fs/b7ce3171686157.5bce12a240e68.jpg);">
  <div class="container d-flex">
    <div class="banner-info" style="text-align-last: left;">
      <h1>Compete in</h1>
      <h1>Virtual Running</h1>
      <h1>Challenges</h1>
      <div class="space-between col-12"></div>

      <%= link_to tracks_path do %>
        <p class="btn btn-primary"  style="border: none;">Join a Race</p>
      <% end %>

    </div>
    <div class="banner-transparent"></div>
  </div>
</div>
<div>
  <div class='turquoise-box'>
    <div class="grids">
      <div class="grid col-xs-12">
        <h2 class="h2-box">Never run alone again</h2>
        <p class="p-turquoise-box">We connect you for every virtual challenge with competitors all around the world. Add you runner friends to any upcoming event and be part of our growing community.</p>
      </div>
      <div class="grid">
        <%= image_tag "app_photo.png", alt: "App", width: 200, class: "strava_phone" %>
      </div>
  </div>
    </div>
  <div class="washed-black-box">
    <div class="grids col-xs-12">
      <div class="grid">
        <%= image_tag "runner_girl.png", alt: "App", width: 400, class: "athlete" %>
      </div>
      <div class="grid">
         <h2 class="h2-box">Global rankings, personalized stats</h2>
        <p class="p-black-box">We are commited to your progress. We help you track your stats so that with every event you reach your goals and celebrate your success</p>

        <%= link_to tracks_path do %>
          <p class="get-started btn btn-primary" style="border: none;">Get Started</p>
        <% end %>

      </div>
    </div>
  </div>
</div>
