
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://mir-s3-cdn-cf.behance.net/project_modules/fs/b7ce3171686157.5bce12a240e68.jpg);">
  <div class="container d-flex">
    <div class="col-6">
      <h1>Compete in Virtual Running Challenges</h1>
      <a class="btn btn-flat" href="#">Apply now</a>
    </div>
    <div class="col-6"></div>
  </div>
</div>
