
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://mir-s3-cdn-cf.behance.net/project_modules/fs/b7ce3171686157.5bce12a240e68.jpg);">
  <div class="container d-flex">
    <div class="col-6" style="text-align-last: left;">
      <h1>Compete in</h1>
      <h1>Virtual Running</h1>
      <h1>Challenges</h1>
      <div class="space-between col-12"></div>
      <a class="btn btn-primary" href="#" style="border: none;">Join a Race</a>
    </div>
    <div class="col-6"></div>
  </div>
</div>

<div class='turquoise-box'>

</div>
