<div class="background-form" style="background-image: url(<%= asset_path("runner_girl.png") %>)" >
  <div class="centralize-form">
    <div class="form-shape">
      <h2>Log in</h2>
      <div class="centralize-form-information">
          <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
