.centralize-form{
  display:flex;
  justify-content:center;
}
.form-shape {
  display: flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-between;
  // border: 1px solid;
  box-shadow: 2px 2px 3px #888888;
  border-radius: 10px;
  margin-left: 16px;
  margin-top: 75%;
  margin-right: 16px;
  width:55%;
  height:30%;
  padding:8px;
  background-color:#DAE1E6;
  opacity:0.8;


}

.background-form{
  width:100vw;
  height:100vh;
  background-repeat: no-repeat;
  background-size:cover;
}

.centralize-form-information{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
}



.centralize-form h2{
  margin-top: 2%;

}

.form-centralize {
 display: flex;
 flex-direction:column;
 align-items:center;
 justify-content:center;
}

.form-borders {
  padding:4px;
  box-shadow:2px 2px 3px rgba(0,0,0,0.3);
  border:1px solid gray;
}


.form-group {
  display:flex;
  padding:20px;
}

.form-button {

  align-items:center;
  background-color:#1F919F;
  border:1px solid #1F919F;
  margin-bottom: 0.5em;
  border-radius: 2px;
  height:38px;
  width:100px;
}

.form-button:hover {
  background-color:#1F919F;
  color:black;
}


.login-centralize-form{
text-align: center;
padding: 20%;

}

.btn-danger {
  background-color: #13a0af;
  border-color:#13a0af;
}
