.menu {
  // display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 0px;
  color: white;
  position:fixed;
  bottom:0;
  padding-bottom:0;
}


.menu-links {
  display: flex;
  align-items: center;
}
.menu-links a {
  color: rgb(150,150,150);
  text-decoration: none;
  font-size: 24px;
  padding: 8px 10px;
  width: 300px;
  margin: 0 auto;
  text-align: center;
}
.menu-links a:hover {
}


.menu-icon {
  color:black;
}

.menu-icon:hover {
  color:#1F919F;
}
