.navbar-lewagon {
  justify-content: space-between;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
}

h1 {
  text-align: center;
}

.navbar-logo-title{
  color:#1F919F;
  text-shadow: 2px 2px 3px rgba(0,0,0,0.2);
  font-family: 'Odibee Sans', cursive;
  font-size:40px;
}

.navbar-brand{
  display:flex;
  align-items:center;
  justify-content:center;
}

.navbar{
}

.navbar-list{
  list-style-type: none;
}
