.navbar-lewagon {
  justify-content: space-between;
  padding-top: 1px;
  padding-bottom: 1px;
  background-color: $turquoise;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

h1 {
  text-align: center;
}


.navbar-nav .nav-link {
  color: white;
  font-family: $other-titles;
}

.nav-link-login {
  color: white;
}
